.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-family: mulish;
}
.container img {
    width: 150px;
}
.container div{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .container img{
        width: 80px;
        margin: 10px 0;
    }
    .container div h1{
        font-size: 25px;
    }
    .container div h3{
        font-size: 16px;
    }
}